<!DOCTYPE html>
<html lang="en">
	<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="index.html">Back to Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      </ul>
    </div>
  </div>
</nav>

<h3>Temperature</h3>                                        
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">ALL
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
              <li><a href="temperatureJFK.html">JFK</a></li>
              <li><a href="temperature3x.html">All Origins</a></li>
          </ul>
        </div>
                                       
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Daily Mean
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
              <li><a href="temperaturedailyMeanJFK.html">Daily mean temperature in JFK</a></li>
              <li><a href="temperatureDailyMean3x.html">Daily mean temperature in all Origins</a></li>
          </ul>
        </div>



	</body>
</html>