<!DOCTYPE html>
<html lang="en">
	<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

 <style>
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
   
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-3 { 
    background-color: #ffffff; 
    color: #555555;
  }
  .bg-4 { 
     background-color: #DCDCDC; 
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;

  }
  

  </style>
  <!-- Write your comments here -->
</head>
<!-- BODY -->
<body>
	<div class="container-fluid bg-3 text-center">    
  	<h3 class="margin"> Stack percentage of total number of flights</h3><br>

    		<div class="col-sm-8 ">
      			<p></p>
      			<img id="totalFlightsStackPercentage" src="/totalFlightsSP.png" class="img-responsive " style="width:100%" alt="Total flights per month stack percentage.">
    		</div>
   	
	</div>

<!-- Footer -->
	<footer class="container-fluid bg-4 text-center">
  	<p> <a href="flights.html">Go to flights</a></p> 
  	<p> <a href="index.html">Go to Home</a></p> 
	</footer>
</body>
</html>